<main class="container">
  <div class="row">
    <div class="col">
      <div *ngIf="foods.length > 0">
        <button class="btn btn-secondary" routerLink="/foods/add">&#43; Add food</button>
      </div>
      <div class="my-2">
        <div class="row mb-4">
          <div class="foodCards my-2" *ngFor="let food of foods; let i = index">
            <div class="card card-bg" [ngStyle]="{'min-height': isLoggedIn?'320px':'290px'}">
              <div class="card-image" routerLink="/foods/{{food._id}}">
                <img class="card-img-top" src="{{baseUrl+'/'+food.imageUrl}}" [ngStyle]="{'height':'173.68px'}">
                <div class="image-overlay"></div>
              </div>
              <div class="card-body">
                <h5 class="card-title"> <b><a class="text-white" routerLink="/foods/{{food._id}}">{{food.name}}</a></b></h5>
                <p class="card-text description">{{food.description}}</p>
              </div>
              <a *ngIf="isLoggedIn" (click)="delete(food._id)" class="btn btn-danger btn-sm">
                <fa-icon [icon]="faTrash"></fa-icon> Delete
              </a>
            </div>
          </div>
          <div class="col-12 my-5 text-center" *ngIf="foods.length == 0">
            <p>No foods found.</p>
            <div *ngIf="foods.length == 0">
              <button class="btn btn-success" routerLink="/foods/add">&#43; Add food</button>
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="!isFirstPage || !isLastPage">
          <button class="btn btn-primary btn-xs me-1" (click)="prev()" [disabled]="isFirstPage">&#8592; Previous
            Page</button>
          <button class="btn btn-primary btn-xs ms-1" (click)="next()" [disabled]="isLastPage">Next Page
            &#8594;</button>
        </div>
      </div>
    </div>
  </div>
</main>