<nav class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand text-white border mx-5 p-1" routerLink="">Foodies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link text-white border-1 nav_style btn-sm" routerLink="/home">Home</a>
      <a class="nav-item nav-link text-white border-1 nav_style btn-sm cursor-pointer" (click)="goToFoods()">Foods</a>
      <a class="nav-item nav-link text-white border-1 nav_style btn-sm cursor-pointer" *ngIf="isLoggedIn"
        (click)="logout()">Logout</a>
    </div>
  </div>
  <div class="navbar-nav me-5 justify-content-end">
    <a *ngIf="name" class="nav-item nav-link text-white">Hello <b class="h6"> {{name}}!</b></a>
    <a class="nav-item nav-link text-white border-1 nav_style btn-sm cursor-pointer" *ngIf="!isLoggedIn"
      routerLink="/register">Register</a>
    <a class="nav-item nav-link text-white border-1 nav_style btn-sm cursor-pointer" *ngIf="!isLoggedIn"
      routerLink="/login">Login</a>
  </div>
</nav>