<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary" routerLink="/foods">&#8592; Go Back</button>
            <div class="mt-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-white">Food Name: {{food.name}}</h5>
                    </div>
                    <div class="card-body text-white">
                        <p class="card-text lead">
                            <b>Origin: </b> <em>{{food.origin}}</em> <br>
                            <b>Description: </b> <em>{{food.description}}</em><br>
                            <b>Ingredients:</b>
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let ing of food.ingredients">
                                <small>- {{ing.name}} - {{ing.quantity}}</small>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-info btn-xs me-1" routerLink="/foods/{{food._id}}/edit">&#9998; Edit Item</a>
                        <a class="btn btn-danger btn-xs ms-1" (click)="delete()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>