<div class="container">
    <div class="row">
        <div class="card mt-5">
            <form class="form-group" #loginForm="ngForm" (ngSubmit)="login()">
                <div>
                    <label class="label-control" for="">Username:</label>
                    <input class="form-control" placeholder="username" name="username" [(ngModel)]="userCredentials.username" />
                </div>
                <div>
                    <label class="label-control" for="">Password:</label>
                    <input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="userCredentials.password" />
                </div>
            
                <div class="m-3 text-center">
                    <button class="btn btn-info">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>